*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{

    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
      url(./nature1.webp) center/cover no-repeat;
}
.banner{
    min-height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
}
.containertime{
    text-align: start;
    color: white;
    letter-spacing: 1px;
    padding: 1rem;
    
}
.day{
    text-transform: capitalize;
}
span{
    color: rgb(163, 55, 15);
    text-transform: capitalize;
}
/* .profile-info{
    display: grid;
} */
img{
 height: 100px; 
 width: 100px;
 border-radius: 100%;
}
.slackUserName{
    text-transform: capitalize;
    font-size: 2rem;
    color: rgb(163, 55, 15);
    font-weight: bold;
}

.track{
    color: rgb(201, 195, 195);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
}
a{
    background: black;
    height: 2rem;
    width: 6rem;
    margin:1rem auto ;
    text-decoration: none;
    text-transform: capitalize;
    display: grid;
    align-items: center;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    transform: all 0.3s linear;
}
a:hover{
    color: black;
    background: white;
}
@media screen  and (min-width:900px) {
    .section-center{
        width: 95vw;
        max-width: 1170px;
        display: grid;
    }
    img {
        height: 200px; 
        width: 200px;
        border-radius: 100%;
       }
       .name{
        text-transform: capitalize;
        font-size: 3rem;
        color: rgb(163, 55, 15);
        font-weight: bold;
    }
    .track{
        color: rgb(201, 195, 195);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1rem;
        font-size: 2rem;
    }
}
